* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
}

section {
    padding-block: 80px;
    padding-inline: 50px;
}

.inline {
    padding-inline: 5rem;
}

header {
    background: url(../Image\ placeholder.jpg);
    background-size: cover;
    height: 30vh;
    display: flex;
    /* z-index: 1; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: black;
    height: 80px;
    padding-inline: 4rem;
    padding-block-start: 20px;
    top: 0;
    left: 0;
    z-index: 999;
}

.navlogo {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    list-style: none;

}

.navlogo span {
    color: cadetblue;
    font-size: 50px;
}

.border {
    border: grey 1px solid;
    margin-right: 10px;
}

nav button {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 30px;
    display: none;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    position: relative;
}

.links {
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
    margin-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    transition: 0.4s ease-in-out;
}

.links:hover {
    color: cadetblue;
    transition: 0.4s ease-in-out;
}

.nav-items .pages-sub,
.nav-items .dropdown-sub {
    position: absolute;
    top: 42px;
    color: red;
    background: black;
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: flex-start;
    list-style: none;
    /* transition: all 0.6s ease; */
    display: none;
}

li ul li {
    text-align: center;
}

ul li ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 2rem;
    text-align: center;
}

.drop-down-link:hover > .dropdown-sub,
.drop-down-link:hover > .pages-sub {
    display: block;
    
}

.dropdown-sub a:hover,
.pages-sub a:hover {
    transition: 0.6s ease;
    color: cadetblue;
}

#mobile-menu {
    display: none;
}

#mobile-menu ul {
    text-align: center;
    position: fixed;
    top: 83px;
    right: -100%;
    background-color: black;
    width: 88%;
    transition: 0.7s ease-in-out;
    z-index: 99;
}

#mobile-menu li {
    list-style: none;
    line-height: 40px;
    padding: 15px;
    border-bottom: 1px solid whitesmoke;
}

#mobile-menu li a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#section1 h3,
#section1 figcaption {
    padding-inline: 10rem;
}

#section1 figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.images-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 25px;
    max-width: 78%;
    text-align: center;
}

.images-container div {
    background: url(../Image\ placeholder.jpg);
    width: 200px;
    height: 200px;
    margin: auto 15px 20px 0;
    transition: 0.7s ease;
}

.images-container div:hover {
    transition: 0.7s ease;
    transform: scale(1.10);
}

.pagination {
    padding-top: 30px;
    text-align: center;
    line-height: 40px;
}

.pagination a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 7px;
    padding: 5px 12px;
    border-radius: 5px;
    transition: 0.5s;
}

.pagination a.active {
    background-color: rgb(131, 14, 14);
    color: #fff;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    transition: 0.5s;
}

#section7 {
    padding-block: 70px;
    background-color: rgb(174, 253, 234);
}

#section7 h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    padding: 10px 0 20px
}

.p-7 {
    text-align: center;
}

.sec7-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-div {
    padding: 30px 15px 7px;
}

.info {
    background-color: #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 25rem;
    padding: 15px;
}

.info p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.info-icon i {
    color: #fff;
    font-size: 20px;
}

.info-icon .fa-phone {
    background-color: #99d98c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;    
    
}
.info-icon .fa-envelope {
    background-color: #168aad;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.info-icon .fa-map-marker-alt {
    background-color: #1e6091;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;    
}

.location {
    text-decoration: none;
    cursor: pointer;
    color: violet;
    transition: 0.6s ease;
}

.location:hover {
    transition: 0.8s ease;
    color: steelblue;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px 7px;
}

.register h3 {
    padding-block: 15px 25px;
    font-size: 30px;
    text-transform: capitalize;
}

.register p {
    max-width: 24rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form input {
    margin: 13px 0 5px;
    padding: 13px 12px;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 19px;
}

form button {
    width: 7rem;
    margin-top: 7px;
    color: #fff;
    font-size: 22px;
    padding: 7px 20px;
    background-color: skyblue;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
}

form button:hover {
    background-color: slateblue;
    transition: 0.6s ease;
    letter-spacing: normal;
}

footer {
    padding: 70px 150px;
    background: url(../Image\ placeholder.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.logo-social_media {
    display: flex;
    flex-direction: column;
    width: 16rem;
    /* margin-inline-end: 50px; */
    margin: 7px auto;
}

.logo-social_media p {
    padding-block: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgray;
    font-size: 14px;
    line-height: 25px;
}

.social-media-wrap i {
    margin-inline: 10px;
    font-size: 16px;
    color: lightgray;
}

.footer-links {
    width: 13rem;
    margin-right: 50px;
    margin: 7px auto;

}

.footer-links h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 23px;
}

.footer-links div {
    padding-block: 16px;
    text-transform: capitalize;
    border-bottom: 1px solid thistle;
    color: thistle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.img-grid {
    width: 14rem;
    /* margin-right: 50px; */
    padding-bottom: 3rem;
    margin: 7px auto;
}

.img-grid h3 {
    font-weight: 500;
    color: #fff;
    padding-bottom: 55px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    max-width: 132.3%;
}

.square {
    background-color: rgb(94, 4, 4);
    width: 70px;
    height: 70px;
    margin: 7px;
    transition: 0.6s ease;
    
}

.square:hover {
    transform: scale(1.1);
    transition: 0.6s ease;
}

.calendar {
    width: 19rem;
    padding-left: 40px;
    margin: 7px auto;

}

.calendar h3 {
    padding-bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.day {
    max-width: 13rem;

}

.day p {
    color: thistle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.fullDate {
    color: lightgray;
    padding: 25px 0 30px 0 ;
    line-height: 30px;
}

.separate {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.copyrights {
    padding-block: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #4e4747;
    color: lightgray;
    text-align: left;
    width: 100%;
}
